@page "/"
@using AprsSharp.Parsers.Aprs
@using AprsWeather.Shared
@using Microsoft.Extensions.Configuration
@using AprsWeatherClient.Extensions
@using System.Collections.Generic
@using System.Reflection
@using Darnton.Blazor.DeviceInterop.Geolocation
@inject IConfiguration Configuration
@inject IGeolocationService locationService

<PageTitle>APRS Weather</PageTitle>

<h1>Current Washington State Weather</h1>

<div>
    <a>Gridsquare: </a>
    <input id="userGridsquareBox" placeholder="CN87to" @bind="userGridsquare"/>
    <button @onclick="AutoLocation">Find My Location</button>
    <button @onclick="ManualLocation">Get Weather!</button>
    <br/>
    <a>@userMessage</a>
</div>

@if (userGridsquare == null)
{
    <p><em>Input location...</em></p>
}
else if (report == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Measurement</th>
                <th>Reading</th>
            </tr>
        </thead>
        <tbody>
            @if (report.Packet.InfoField is WeatherInfo wi)
            {
                foreach (var entry in propertyLabels)
                {
                    var label = entry.Key;
                    var measurement = Convert.ChangeType(entry.Value.GetValue(wi), entry.Key.GetType());
                    if (measurement != null)
                    {
                        <tr>
                            <td>@label</td>
                            <td>@measurement</td>
                        </tr>
                    }
                }

                <tr>
                    <td>Minutes Ago</td>
                    <td>@report.ReceivedTime.MinutesSince() minutes ago</td>
                </tr>

                <tr>
                    <td>Location</td>
                    <td>@($"{userPosition.MilesTo(wi.Position)} miles {userPosition.DirectionTo(wi.Position)}")</td>
                </tr>

                <tr>
                    <td>Reported By</td>
                    <td>@report.Packet.Sender</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherReport? report;
    private HttpClient client = new HttpClient();
    private string? apiAddress;
    private string? userGridsquare;
    private Position? userPosition;
    private string userMessage = string.Empty;

    /// <summary>
    /// Maps a property (of WeatherInfo) to the label to show in the UX.
    /// </summary>
    /// <returns></returns>
    private Dictionary<string, PropertyInfo> propertyLabels = new Dictionary<string, PropertyInfo>()
    {
        { "Temp (F)", typeof(WeatherInfo).GetProperty("Temperature")! },
        { "Rainfall Since Midnight (100ths of inch)", typeof(WeatherInfo).GetProperty("RainfallSinceMidnight")! },
        { "Rainfall Last 24 Hours (100ths of inch)", typeof(WeatherInfo).GetProperty("Rainfall24Hour")! },
        { "Rainfall Last 1 Hour (100ths of inch)", typeof(WeatherInfo).GetProperty("Rainfall1Hour")! },
        { "Sustained Windspeed (MPH)", typeof(WeatherInfo).GetProperty("WindSpeed")! },
        { "Wind Direction (Degrees)", typeof(WeatherInfo).GetProperty("WindDirection")! },
        { "Humidity (percent)", typeof(WeatherInfo).GetProperty("Humidity")! },
        { "Barometric Pressure (10ths of millibar)", typeof(WeatherInfo).GetProperty("BarometricPressure")! },
        { "Luminosity (watts/m^2)", typeof(WeatherInfo).GetProperty("Luminosity")! },
        { "Snow Last 24 Hours (inches)", typeof(WeatherInfo).GetProperty("Snow")! },
        { "Station raw rain measurement", typeof(WeatherInfo).GetProperty("RainRaw")! },
    };

    private async Task UpdateReports()
    {
        if (string.IsNullOrWhiteSpace(userGridsquare))
        {
            return;
        }

        if (apiAddress == null)
        {
            apiAddress = Configuration["ServerAddress"];
        }

        var response = await client.GetFromJsonAsync<IEnumerable<WeatherReport>>($"{apiAddress}/WeatherReports/Near?location={userGridsquare}&limit=1");
        report = response?.SingleOrDefault();
    }

    private async Task ManualLocation()
    {
        userMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(userGridsquare))
        {
            return;
        }

        userPosition = new Position();
        userPosition.DecodeMaidenhead(userGridsquare);

        await UpdateReports();
    }

    private async Task AutoLocation()
    {
        userMessage = string.Empty;

        GeolocationResult location = await locationService.GetCurrentPosition();

        if (!location.IsSuccess)
        {
            userMessage = "Unable to retrieve user location.";
            return;
        }

        userPosition = new Position();
        userPosition.Coordinates = new GeoCoordinatePortable.GeoCoordinate(location.Position.Coords.Latitude, location.Position.Coords.Longitude);
        userGridsquare = userPosition.EncodeGridsquare(6, false);

        await UpdateReports();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateReports();
    }
}
