@page "/"
@using AprsSharp.Parsers.Aprs
@using AprsWeather.Shared
@using Microsoft.Extensions.Configuration
@using AprsWeatherClient.Extensions
@using System.Collections.Generic
@using System.Text.RegularExpressions
@using Darnton.Blazor.DeviceInterop.Geolocation
@inject IConfiguration Configuration
@inject IGeolocationService locationService

<PageTitle>APRS Weather</PageTitle>

<h1>Current Weather</h1>

<div>
    <form onsubmit="return false;">
        <input
            id="userGridsquareBox"
            placeholder="Gridsquare"
            @bind="userGridsquare"
            pattern=@GRIDSQUARE_REGEX
            title="Maidenhead Gridsquare of length 4, 6, or 8. e.g. `CN87to`"
        />
        <input type="button" @onclick="AutoLocation" value="Find My Location"/>
        <input type="submit" @onclick="ManualLocation" value="Get Weather!"/>
    </form>
    <select id="places" @onchange="SetExampleLocation">
        <option value="none" selected hidden>Example Locations</option>
        <option value="CN87">Seattle, USA</option>
        <option value="PM95">Tokyo, Japan</option>
        <option value="JF96">Cape Town, South Africa</option>
        <option value="GG87">Rio de Janiero, Brazil</option>
        <option value="JN18">Paris, France</option>
    </select>
    <a>@userMessage</a>
</div>

@if (userGridsquare == null)
{
    <p><em>Input location...</em></p>
}
else if (report == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Measurement</th>
                <th>Reading</th>
            </tr>
        </thead>
        <tbody>
            @if (report.Packet.InfoField is WeatherInfo wi)
            {
                @foreach ((string label, WeatherInfoHelpers.MeasurementDisplayMap displayMap) in WeatherInfoHelpers.PropertyLabels)
                {
                    string? measurement = displayMap(wi);
                    if (measurement != null)
                    {
                        <tr>
                            <td>@label</td>
                            <td>@measurement</td>
                        </tr>
                    }
                }

                <div>
                    <i>
                        Reported <b>@report.ReceivedTime.MinutesSince() minutes ago</b> from about
                        <a
                            href=@($"https://www.openstreetmap.org/?mlat={wi.Position.Coordinates.Latitude}&mlon={wi.Position.Coordinates.Longitude}")
                            target="_blank">
                            <b>@($"{userPosition.MilesTo(wi.Position)} miles {userPosition.DirectionTo(wi.Position)}") away</b>
                        </a>
                        by <b>@report.Packet.Sender</b>.
                    </i>
                </div>
            }
        </tbody>
    </table>
}

@code {
    private WeatherReport? report;
    private HttpClient client = new HttpClient();
    private string? apiAddress;
    private string? userGridsquare;
    private Position? userPosition;
    private string userMessage = string.Empty;

    /// <summary>
    /// Case-insensitive gridsquare of length 4, 6, or 8
    /// </summary>
    private const string GRIDSQUARE_REGEX = @"^[a-zA-Z]{2}[0-9]{2}(([a-zA-Z]{2})|([a-zA-Z]{2}[0-9]{2}))?$";

    private async Task UpdateReports()
    {
        if (string.IsNullOrWhiteSpace(userGridsquare))
        {
            return;
        }

        if (apiAddress == null)
        {
            apiAddress = Configuration["ServerAddress"];
        }

        var response = await client.GetFromJsonAsync<IEnumerable<WeatherReport>>($"{apiAddress}/WeatherReports/Near?location={userGridsquare}&limit=1");
        report = response?.SingleOrDefault();
    }

    private async Task ManualLocation()
    {
        userMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(userGridsquare))
        {
            return;
        }

        if (!Regex.IsMatch(userGridsquare, GRIDSQUARE_REGEX))
        {
            return;
        }

        userPosition = new Position();
        userPosition.DecodeMaidenhead(userGridsquare);

        await UpdateReports();
    }

    private async Task AutoLocation()
    {
        userMessage = string.Empty;

        GeolocationResult location = await locationService.GetCurrentPosition();

        if (!location.IsSuccess)
        {
            userMessage = "Unable to retrieve user location.";
            return;
        }

        userPosition = new Position();
        userPosition.Coordinates = new GeoCoordinatePortable.GeoCoordinate(location.Position.Coords.Latitude, location.Position.Coords.Longitude);
        userGridsquare = userPosition.EncodeGridsquare(6, false);

        await UpdateReports();
    }

    private async Task SetExampleLocation(ChangeEventArgs args)
    {
        userGridsquare = args.Value as string ?? throw new Exception("HTML select object did not have value");
        await ManualLocation();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateReports();
    }
}
